tensorflow==2.9.1
torch==1.11.0
numpy==1.22.4
pandas==1.4.2
scikit-learn==1.1.1
opencv-python==4.6.0.66
matplotlib==3.5.2
seaborn==0.11.2
keras==2.9.0
nltk==3.7
spacy==3.3.1
mlflow==1.26.1
kubeflow==1.4.0
